.skills-section {
    opacity: 0;
    animation: fadeIn 0.5s ease-in-out 1.5s forwards;
    
  }

.skills-title {
  font-size: 4rem
}

.skills-row {
  display: flex;
  align-items: center;
  margin-bottom: 3.0rem; /* Adjust the margin-bottom for consistent spacing */
  margin-top:3rem;
  padding-bottom: 3rem;
  border-bottom: 1px solid rgb(0, 250, 237);
  width: 70%;
}

.skills-row h3 {
  font-size: 1.8rem;
  margin-right: 1rem;
  width: 200px;
}

.badge-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
  margin-left: 3rem;;
}

.badge-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80px; /* Set a fixed width for badge container */
  text-align: center
}

.badge-icon img {
  width: 50px;
  height: 50px;
}

.badge-icon-mongo img {
  width: 20px;
  height:50px;
  margin-left: 1.6rem;
}

.skills-row h3 {
  white-space: nowrap;
}
