.right-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* distribute space between the children */
  align-items: center;
  height: 100vh; /* full viewport height */
  width: 10%;
  right:2%;
  top: 0; /* add this line */
  position: fixed; /* fixed position */
}

.scroll-arrows {
  cursor: pointer;
  font-size: 5rem; /* adjust the size as needed */
  transition: transform 0.3s ease;
  user-select: none; /* Prevents text selection */
}

.scroll-arrows:hover {
  transform: scale(1.2); /* adjust the scale for desired pulse effect */
}

.scrollbar-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 10px;
  align-items: center;
  flex-grow: 1; /* make it take up available space */
  position: relative;
}


.line-nodes {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 50%;
  position: absolute;
  top: 50%; /* center the line vertically */
  left: 50%;
  transform: translateX(-50%) translateY(-50%); /* center horizontally and vertically */
}

.scroll-line {
  position: absolute;
  width: 2px; /* thickness of the line */
  height: 95%; /* full height of the container */
  background-color: gray; /* color of the line */
  left: 50%;
  top: 50%; /* center the line vertically */
  transform: translateX(-50%) translateY(-50%); /* center horizontally and vertically */
}

.scroll-node {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: gray;
  position: relative; /* relative positioning for the nodes */
  z-index: 1; /* to ensure nodes appear above the line */
  transition: all 0.3s ease; /* transition effect */;
  cursor: pointer;
  user-select: none; /* Prevents text selection */
}

.scroll-node.active {
  background-color: rgb(2, 253, 253);
  transform: scale(1.2); /* adjust the scale for desired pulse effect */
}
.scroll-to-second {
  position: fixed; /* fixed position */
  bottom: 20px; /* position from the bottom */
  left: 50%; /* center horizontally */
  padding: 10px 20px;
  color: white;
  cursor: pointer;
  transition: transform 0.3s ease;
  font-size: 5rem;
}

.scroll-to-second:hover {
  transform: scale(1.2); /* adjust the scale for desired pulse effect */
}

.hidden {
  display: none;
}

.scroll-node-label {
  position: absolute;
  right: 60px; /* Adjust as needed to position the label to the left of the node */
  top: 50%;
  transform: translateY(-50%); /* Center vertically */
  color: white; /* Choose a suitable color */
  font-family: 'Arial', sans-serif; /* Choose a suitable font */
  font-size: 1rem; /* Adjust font size as needed */
}


button:focus,
a:focus,
[class*="fa"]:focus,
.scroll-node:focus {
  outline: none;
}

