.bio-wrapper {
    margin-top: 5rem;
    display:flex;
    flex-direction:column;
    padding-left:10rem;
    padding-right:10rem;
    text-align:left;
    font-family: 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
    height: 200vh;
}

.punctuation {
  opacity:0;
  animation: fadeIn 0.5s ease-in-out 1.5s forwards;
  color:rgb(0, 250, 237); 
}

.intro-container,
.skills-container {
  display: flex;
  justify-content: center; /* Centers horizontally */
  align-items: center; /* Centers vertically */
  height: 80vh; /* Takes up the full viewport height */
}
