@keyframes blink {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  
  .cursor {
    display: inline-block;
    width: 1px;
    animation: blink 0.7s infinite;
    color:rgb(1, 253, 228);
    transform: translateY(-0.1em);
    }

  .font-custom {
    font-family: Helvetica, sans-serif;
    font-size: 3rem;
  }

  .banner {
    width:100%;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    
  }

  .banner .typing-animation {
    font-size: 3rem;
    text-align: center;
    color:rgb(1, 253, 228)
  }