.projects {
  height: 100vh; /* Set the height to 100% of the viewport height */
  overflow-y: auto; /* Allow vertical scrolling if the content overflows */
  display: flex;
  justify-content: center;
  align-items: center;
}

.cards {
    display:flex;
    flex-direction:column;
    height:100%;
}