#root {
  text-align: center;
  height:100%;
}

html, body {
  height: 100%;
  background-color:rgb(1, 30, 53);
  color:rgb(206, 226, 224);
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;

}

@media (min-width: 1024px) {
  .container {
    max-width: none; /* Remove the max-width limitation */
    width: 100%; /* Ensure it takes the full width */
  }
}

